@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #1B3C53;
    --cor-secundaria: #D2C1B6;
    --cor-terciaria: #456882;
    --cor-hover: #234C6A;

    --fonte-primaria:"Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.img__perfil {
    width: 500px;
    border-radius: 5%;
}

.cabecalho {
    padding: 2px 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 24px;
    color: var(--cor-secundaria);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15% 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentaca__conteudo {
    width: 615px;
    height: 482px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentaca__conteudo__titulo {
    font-size: 36px;
    font-family: var(--fonte-primaria)
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentaca__conteudo__paragrafo {
    font-size: 24px;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 24px;
}

.apresentaca__links__link {
    /* background-color: #386173; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-secundaria);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 25px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #f6f6f6;
    font-family: var(--fonte-secundaria);
}

.apresentaca__links__link:hover {
    background-color: var(--cor-hover);
}


.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
    padding: 23px;
    text-align: center;
    font-size: 24px;
    font-family: var(--fonte-secundaria);
}